In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input/us-college-completion-rate-analysis'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/us-college-completion-rate-analysis/x_test.csv
/kaggle/input/us-college-completion-rate-analysis/train.csv

In [2]:
# import training and test dataset
train_df = pd.read_csv('/kaggle/input/us-college-completion-rate-analysis/train.csv')
test_df = pd.read_csv('/kaggle/input/us-college-completion-rate-analysis/x_test.csv')

In [3]:
train_df # display training dataset for observation

,Unnamed: 0,Completion_rate,Tuition_in_state,Tuition_out_state,Faculty_salary,Pell_grant_rate,SAT_average,ACT_50thPercentile,pct_White,pct_Black,pct_Hispanic,pct_Asian,Parents_middlesch,Parents_highsch,Parents_college
0,0,0.6552,33560.0,33560.0,4285.0,0.2531,1029.0,21.0,0.3771,0.0612,0.0590,0.1345,0.011561,0.226397,0.762042
1,1,0.5246,7383.0,18543.0,9148.0,0.4752,963.0,21.0,0.2866,0.0331,0.4212,0.1011,0.107411,0.375165,0.517424
2,2,0.4030,23144.0,23144.0,7232.0,0.4668,984.0,21.0,0.3085,0.1426,0.2309,0.0149,0.091241,0.361314,0.547445
3,3,0.5472,6610.0,17770.0,9284.0,0.6369,877.0,18.0,0.1272,0.0572,0.6282,0.0557,0.163236,0.433621,0.403142
4,4,0.8166,47004.0,47004.0,11984.0,0.1337,1323.0,30.0,0.4251,0.0786,0.2268,0.0549,0.014868,0.186091,0.799041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2359,2359,0.5311,24090.0,24090.0,6705.0,0.3402,949.0,20.0,0.6830,0.0544,0.0385,0.0225,0.019266,0.439450,0.541284
2360,2360,0.5371,36660.0,36660.0,6340.0,0.4075,1033.0,23.0,0.6215,0.1582,0.0883,0.0257,0.028593,0.404816,0.566591
2361,2361,0.3677,30331.0,30331.0,6689.0,0.5791,1009.0,22.0,0.5842,0.2277,0.0569,0.0221,0.029851,0.370421,0.599729
2362,2362,0.5541,5055.0,16215.0,9312.0,0.2151,1102.0,24.0,0.7347,0.0113,0.0718,0.0117,0.017512,0.259759,0.722729
2363,2363,0.5871,33358.0,33358.0,8178.0,0.2640,1053.0,23.0,0.5974,0.1482,0.0933,0.0304,0.011107,0.249280,0.739613

In [4]:
# simply check if any missing value for training dataset
col_list = ['Completion_rate', 'Tuition_in_state', 'Tuition_out_state', 'Faculty_salary', 'Pell_grant_rate', \
            'SAT_average', 'ACT_50thPercentile', 'pct_White', 'pct_Black', 'pct_Hispanic', 'pct_Asian', \
           'Parents_middlesch', 'Parents_highsch', 'Parents_college']

print('Training Dataset Empty Values Check:')
for i in col_list:
    empty_value = train_df[i].isnull().sum()
    print(f"Missing value in column {i}:",empty_value)

Training Dataset Empty Values Check:
Missing value in column Completion_rate: 0
Missing value in column Tuition_in_state: 0
Missing value in column Tuition_out_state: 0
Missing value in column Faculty_salary: 0
Missing value in column Pell_grant_rate: 0
Missing value in column SAT_average: 0
Missing value in column ACT_50thPercentile: 0
Missing value in column pct_White: 0
Missing value in column pct_Black: 0
Missing value in column pct_Hispanic: 0
Missing value in column pct_Asian: 0
Missing value in column Parents_middlesch: 0
Missing value in column Parents_highsch: 0
Missing value in column Parents_college: 0

In [5]:
test_df # display testing dataset for observation

,Unnamed: 0,Tuition_in_state,Tuition_out_state,Faculty_salary,Pell_grant_rate,SAT_average,ACT_50thPercentile,pct_White,pct_Black,pct_Hispanic,pct_Asian,Parents_middlesch,Parents_highsch,Parents_college
0,0,27530.0,27530.0,5306.0,0.5113,1009.0,22.0,0.6706,0.0924,0.0492,0.0157,0.036364,0.415152,0.548485
1,1,28690.0,28690.0,5811.0,0.4646,964.0,21.0,0.7738,0.1160,0.0574,0.0103,0.019011,0.359316,0.621673
2,2,7808.0,17658.0,8243.0,0.2993,994.0,21.0,0.6046,0.1013,0.1676,0.0713,0.033391,0.358348,0.608262
3,3,22900.0,22900.0,4687.0,0.5151,1019.0,22.0,0.7751,0.0773,0.0291,0.0070,0.025600,0.428800,0.545600
4,4,20109.0,20109.0,4594.0,0.4988,1070.0,24.0,0.4639,0.1263,0.0479,0.0091,0.040267,0.394580,0.565153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,1160,28970.0,28970.0,7886.0,0.4879,1010.0,22.0,0.5022,0.1633,0.2342,0.0263,0.061657,0.382787,0.555556
1161,1161,6265.0,15862.0,7493.0,0.3814,1034.0,22.0,0.8086,0.0643,0.0435,0.0123,0.017544,0.302144,0.680312
1162,1162,35555.0,35555.0,7337.0,0.3267,1014.0,22.0,0.7277,0.1124,0.0504,0.0126,0.011964,0.289133,0.698903
1163,1163,7024.0,18437.0,7285.0,0.3222,1068.0,23.0,0.6854,0.0375,0.1412,0.0327,0.020671,0.285174,0.694154
1164,1164,38626.0,38626.0,8681.0,0.2922,1122.0,25.0,0.6466,0.1497,0.0425,0.0507,0.024000,0.276800,0.699200

In [6]:
# simply check if any missing value for testing dataset
col_list = ['Tuition_in_state', 'Tuition_out_state', 'Faculty_salary', 'Pell_grant_rate', \
            'SAT_average', 'ACT_50thPercentile', 'pct_White', 'pct_Black', 'pct_Hispanic', 'pct_Asian', \
           'Parents_middlesch', 'Parents_highsch', 'Parents_college']

print('Testing Dataset Empty Values Check:')
for i in col_list:
    empty_value = test_df[i].isnull().sum()
    print(f"Missing value in column {i}:",empty_value)

Testing Dataset Empty Values Check:
Missing value in column Tuition_in_state: 0
Missing value in column Tuition_out_state: 0
Missing value in column Faculty_salary: 0
Missing value in column Pell_grant_rate: 0
Missing value in column SAT_average: 0
Missing value in column ACT_50thPercentile: 0
Missing value in column pct_White: 0
Missing value in column pct_Black: 0
Missing value in column pct_Hispanic: 0
Missing value in column pct_Asian: 0
Missing value in column Parents_middlesch: 0
Missing value in column Parents_highsch: 0
Missing value in column Parents_college: 0

In [7]:
# select relevant features from training dataset and display the x and y training data
train_data = train_df[['Tuition_out_state', 'Parents_college', 'pct_White', 'SAT_average']]
x_train = train_data.values
y_train = train_df['Completion_rate']
x_train, y_train

(array([[3.35600000e+04, 7.62042389e-01, 3.77100000e-01, 1.02900000e+03],
        [1.85430000e+04, 5.17423908e-01, 2.86600000e-01, 9.63000000e+02],
        [2.31440000e+04, 5.47445256e-01, 3.08500000e-01, 9.84000000e+02],
        ...,
        [3.03310000e+04, 5.99728630e-01, 5.84200000e-01, 1.00900000e+03],
        [1.62150000e+04, 7.22728931e-01, 7.34700000e-01, 1.10200000e+03],
        [3.33580000e+04, 7.39613328e-01, 5.97400000e-01, 1.05300000e+03]]),
 0       0.6552
 1       0.5246
 2       0.4030
 3       0.5472
 4       0.8166
          ...
 2359    0.5311
 2360    0.5371
 2361    0.3677
 2362    0.5541
 2363    0.5871
 Name: Completion_rate, Length: 2364, dtype: float64)

In [8]:
# fit regression model and display scores
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
print(model.score(x_train, y_train))

0.7478320448353355

In [9]:
# use the model to make predictions for testing dataset
test_data = test_df[['Tuition_out_state', 'Parents_college', 'pct_White', 'SAT_average']]
x_test = test_data.values
predictions = model.predict(x_test)
print(predictions)

[0.48049799 0.47768804 0.44212814 ... 0.56906575 0.52703638 0.66014696]

In [10]:
# observe model coefficients for any possible improvements in milestone 2
pd.DataFrame(model.coef_, test_data.columns, columns = ['Coeff'])

                      Coeff
Tuition_out_state  0.000005
Parents_college    0.314144
pct_White          0.012410
SAT_average        0.000721

In [11]:
# create submission dataset and display to final check
submission = pd.DataFrame.from_dict({'Completion_rate': predictions})
submission

      Completion_rate
0            0.480498
1            0.477688
2            0.442128
3            0.466747
4            0.492913
...               ...
1160         0.487990
1161         0.487840
1162         0.569066
1163         0.527036
1164         0.660147

[1165 rows x 1 columns]

In [12]:
# save submission file
submission.to_csv('submission.csv', index = True, index_label = "id")